@import "tailwindcss";

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
}

@keyframes slideIn {
  from { opacity: 0; transform: translateX(100%); }
  to   { opacity: 1; transform: translateX(0); }
}
